<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ .Config.AssetsPath }}/img/logo_tractus-x.svg" rel="icon" type="image/x-icon">
    <link href="{{ .Config.AssetsPath }}/css/main.css" rel="stylesheet" type="text/css"/>
    <title>Eclipse Tractus-X Release Guidelines checks</title>
</head>
<body>
{{ template "header" . }}
{{ template "footer" . }}
</body>